<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Qui ?</h2>
                    <p class='secret'>quette</p>
                    <h3 class="section-subheading text-muted">Ils sont beaux, ils sont chauds, ce sont pas des churros.</h3>
                </div>
            </div>
            <div class="row">
                <div class='col-sm-2'></div>
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">MSZK est un studio multi-dimensionnel basé à Nantes. <b>Du graphic design au branding en passant par le marketing digital</b>, ce one-man-studio écoute, discute, et crée.</p>
                </div>
            </div>
        </div>
    </section>